<h3>Sponsors</h3>
<nav id="sponsors-container">
    <ul class="sponsor-items">
        <li class="item"><a href="#"><img src="images/fanduel-logo.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="images/gse-logo.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="images/wjf-logo.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="images/pp-logo.png" alt=""></a></li>
        <li class="item"><a href="#"><img src="images/medium-caa-logo.png" alt=""></a></li>
    </ul>
</nav>